* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
body {
    min-height: 100%;
}
h2 {
    font-family: Arial, cursive;
    color: black;
    font-size: 26px;
}
h1 {
    font-family: Arial, cursive;
    color: black;
    font-size: 26px;
}
p {
    font-family: Arial, cursive;
    color: black;
    font-size: 12px;
}
ul {
    margin-left: 20px;
}
ul li {
    list-style: none;
    display: inline-block;
    float: left;
    line-height: 40px;
}
ul li a {
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, serif;
    color: black;
    padding: 0 20px;
    display: block;
}
ul li a:hover {
    color: #791a32;
}
nav {
    width: 100%;
    height: 40px;
    background-color: palevioletred;
}

/*Phone settings*/
.grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr 1fr auto;
    grid-template-areas:
"banner"
"nav"
"header"
"content"
"footer";
}

.banner {
    grid-area: banner;
}
.nav {
    grid-area: nav;
}
.header {
    grid-area: header;
}
.content {
    grid-area: content;
}
.footer {
    grid-area: footer;
    float: bottom;
}

/*Ipad settings*/
@media screen and (min-width: 736px) {

}

/*Desktop settings*/
@media screen and (min-width: 1000px) {
    .grid {
        grid-template-columns: 1fr 1000px 1fr;
        grid-template-rows: auto 1fr 1fr 1fr auto;
        grid-template-areas:
                ". banner ."
                ". nav ."
                ". header ."
                ". content ."
                ". footer .";
    }

}